#/////////////////////////////////////////////////
# 模块目录
#/////////////////////////////////////////////////

/node_modules/

#/////////////////////////////////////////////////
# 打包目录
#/////////////////////////////////////////////////

/build/

#/////////////////////////////////////////////////
# 其他目录
#/////////////////////////////////////////////////

/.idea/
/.vscode/

#/////////////////////////////////////////////////
# 其他文件
#/////////////////////////////////////////////////

.DS_Store
Thumbs.db
